<!-- Jumbotron Hero -->
{% set image = page.media[page.header.hero.src].quality(100) %}
{% set image_url = image.url %}
<div class="jumbotron hero" id="hero" style="background: url({{ image_url }}) no-repeat bottom center; background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="jumbotron inner">
                    <div class="header">{{ page.header.hero.header }}</div>
                    <div class="text">
                        {{ page.header.hero.text}}
                    </div>
                    <div class="cta-button">
                        <a class="btn btn-primary btn-lg btn-cta" href="{{ page.header.heroButton.url }}" role="button">{{ page.header.heroButton.title }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
